# Python
__pycache__/

# Distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Virtual environments
.env
.venv
venv/

# IDE
.vscode/

# OS
.DS_Store

# Phylogenetic analysis outputs
*.nwk
*.tree
*.trees
*.txt
*.tsv
*.out

# Scripts
ghostparser*.sh

# Documents
*.pdf